img.about {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.title-about {
    color: #850F8D;
    font-size: 27px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .box-img {
        padding: 0px;
    }

    .box-text-about {
        padding-top: 15px;
    }
}