.title-contact {
    font-size: 27px;
    font-weight: bold;
    color: #850F8D;
}

.box-contact {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.sub-box-contact img {
    width: 40px;
    height: 40px;
}

.sub-box-contact div {
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .sub-box-contact div {
        font-size: 15px;
        font-weight: bold;
    }
}