.navbar-brand {
    color: #850F8D !important;
    font-size: 30px !important;
    font-weight: bolder !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white !important;
    background-color: #850F8D !important;
}