.title-personal {
    font-size: 27px;
    font-weight: bold;
    color: #850F8D;
}

.box-personal {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.sub-text {
    font-size: 20px;
    font-weight: bold;
    color: #850F8D;
}